{% extends 'base.html' %}


{% block nav %}
<nav style="visibility: invisible;"></nav>
{% endblock %}
{% block content %}
<main>
    <div class="p-5 mb-2 bg-light rounded-3 align-items-sm-center">
      <div class="container py-2">
        <h1 class="display-4 fw-bold">Don't waste time...</h1>
        <p class="col-md-8 fs-4"></p>    
      </div>
    </div>

    <!--split buttons-->
    <div class="row align-items-md-stretch mx-5">
        <div class="col-md-4">
            <h3 class="display-2 fw-bold">Utilize services</h3>
            <div class="col-md-4">
                <div class="h-100 p-3 text-white bg-dark rounded-3">
                <h2>Self-Service</h2>
                <p>For general use to see what FLTMPS is currently tracking with update functionality</p>
                <button onclick="location.href='{% url hub %}'" class="btn btn-outline-light" type="button">Update Me</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="h-100 p-3 bg-light border rounded-3">
                <h2>Admin Utility</h2>
                <p>For Training Team, requires higher echelon access and will not work correctly otherwise</p>
                <button onclick="location.href='https://app.wasted.services/'" class="btn btn-outline-secondary" type="button">Pull Now</button>
            </div>
        </div>
    </div>
  
</main>
{% endblock %}
