{% extends 'base.html' %}


{% block content %}
<main>    
  <section class="container-fluid">
    <div class="row">
      <div class="col display-3 d-flex justify-content-center">Don't</div>
      <div class="col- 5">your&nbsp;time...</div>
    </div>
    <div class="col-6"
      <div class="col-1 display-2 d-flex justify-content-center">waste</div>
    </div>
    <div class="row z-index-3">
      <div class="col-7"></div>
      <div class="col display-4 d-flex align-text-end">Services</div>
    </div>
  </section>
    <div class="row justify-content-center">
      <div class="col-4 d-inline-block"> 
        <div class="h-100 p-3 text-white bg-dark rounded-3">
          <h2>Visit hub</h2>
          <p>Requires CAC Login</p>
          <button onclick="location.href={% url 'hub' %}" class="btn btn-outline-light" type="button">Launch</button>
        </div>
      </div>
      <div class="col-4 d-inline-block">
        <div class="h-100 p-3 bg-light border rounded-3">
          <h2>Admin Utility</h2>
          <p>For Training Team, requires higher echelon access and will not work correctly otherwise</p>
          <button onclick="location.href={% url 'reports' %}" class="btn btn-outline-secondary" type="button">Enter</button>
        </div> 
      </div>     
    </div>
  </section>
</main>
{% endblock %}
